@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background:#dedede;
    display:flex;
    align-items: center;
    justify-content: center;
}
header{
    position: relative;
    width: 70%;
    height:80%;
    background: #fff;
    box-shadow: 0px 0px 50px -1px rgb(94, 88, 88);
    padding:0px 30px;
    display:flex;
    flex-wrap: wrap;
    transition:0.3s linear;
}
header .logo{
    position: absolute;
    top: 0;
    left:10%;
    width:250px;
    height: 350px;
    background: rgb(32, 32, 32);
    transition: 0.3s linear;
}
header .logo h1{
    color: #fff;
    text-align: center;
    margin-top:5px;
    font-size: 28px;
    font-weight:700;
}
header .logo img {
    width: 300px;
    margin: 20px 0px 0px -30px;
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0, 0.8));
}
header nav{
    width: 100%;
    height: 15%;
    /* border: 1px solid black; */
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    font-size: 20px;
    font-weight: bold;
    columns: black;
}
header nav .nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .nav-items ul{
    list-style: none;
    display:flex;
    align-items: center;
}
header nav .nav-items ul li{
    padding:4px 12px;
}
header nav .nav-items ul li a{
    position: relative;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color:black;
    transition:0.3s linear;
}
header nav .nav-items ul li a:hover{
    color: rgb(229, 32, 32);
    text-decoration: underline;
}
header .left-menu{
    width: 20px;
    height:85%;
    /* border: 1px solid black; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .left-menu  a{
    margin: 30px 0px;
    padding:0px 5px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 500;
    transition:0.3s linear;
    transform: rotate(-90deg);
}

header .left-menu a:hover{
    color: rgb(229, 32, 32);
    text-decoration: underline;
}
header section{
    height:85%;
    width: 94%;
    /* border: 1px solid black; */
}
header section .content {
    position: relative;
    left: 370px;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.3s linear;
}
header section .content h1{
    font-size: 40px;
    transition: 0.3s linear;
}
header section .content p{
    font-size: 12px;
    font-weight: 600;
    width: 300px ;
    word-break: break-all;
}
header section .content .order_price{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
header section .content .order_price .price h2{
    font-size:25px;
    color: rgb(229, 32, 32);
    line-height: 20px;
}
header section .content .order_price .price p{
    font-size:8px;
    width: 100px;
}
header section .content .order_price a{
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: black;
    border:1px solid rgb(140, 142, 148);
    border-radius:4px;
}
header section .content .order_price a:hover{
    border:1px solid rgb(140, 142, 148);
    color: black;
    background: white;
}
header section .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
}
header section .slider i:hover{
    color: rgb(68, 65, 65);
}
header section .slider .cards{
    position: relative;
    width: 90%;
    height:150px;
    /* border:1px solid black; */
    margin-top:20px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    transition:0.3s linear;
}
header section .slider .cards::-webkit-scrollbar{
    display: none;
}
header section .slider .cards .card{
    position: relative;
    min-height: 120px;
    min-width: 120px;
    border:1px solid black;
    border-radius: 50px 10px 10px 10px;
    margin-right: 10px;
    background: rgb(53, 50, 50);
}
header section .slider .cards .card:hover{
    box-shadow: 0px 0px 10px;
}
header section .slider .cards .card:nth-last-child(1){
    margin-right: 0;
}

header section .slider .cards .card .dish{
    width: 70px;
    position: relative;
    top: -5px;
    left: -5px;

}
header section .slider .cards .card .steam {
    width: 65px;
    height: 100px;
    position: absolute;
    top: -53px;
    left: -3px;
}
header section .slider .cards .card h4 {
    position: absolute;
    left: 70px;
    top: 30px;
    color: #dedede;
    font-size: 23px;
}
header section .slider .cards .card h5 {
    position: absolute;
    text-align: center;
    padding: 0px 10px;
    color: rgb(222, 222, 222);
    font-size: 10px;
}

header section .slider .cards .card .rating_cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 2px 10px;
    margin-top: 20px;
}
header section .slider .cards .card .rating_cart h6{
    font-size: 10px;
}
header section .slider .cards .card .rating_cart .bi{
    font-size: 10px;
}




header section .social{
    margin-top:2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: 0.3s linear;
}
header section .social .icons .bi{
    color: black;
    margin-right: 10px;
    font-size: 15px;
}
header section .social .icons .fb:hover{
    color: rgb(76, 110, 196);
}
header section .social .icons .insta:hover{
    color: rgb(225, 19, 190);
}
header section .social .icons .twitter:hover{
    color: rgb(22, 48, 112);
}



/* ---------media queries-------- */

@media screen and (max-width:1250px){
    header {
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width:1150px){
    header {
        width: 90%;
        height: 88%;
    }
    header section .social {
        margin-top: 60px;
    }
}
@media screen and (max-width:900px){
    header {
        width: 90%;
        height: 88%;
    }
    header section .content {
        left: 330px;
    }
    header .logo {
        left: 10%;
    }
}
@media screen and (max-width:830px){
    header {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:740px){
    header section .content {
        left: 294px;
    }
}
@media screen and (max-width:700px){
    header .logo {
        left: 32%;
    }
    header section .content {
        left: 120px;
    }
    header section .content {
        margin-top: 50%;
    }
    header section .social {
        margin-top: 4px;
    }
    header nav .nav-items ul {
        position: absolute;
        top: 20%;
        flex-direction: column;
        width: 30px;
        right: 10px;
    }
    header nav .nav-items ul li {
        padding: 30px 16px;
        transform: rotate(90deg);
    }
    header section .slider .cards .card {
        min-height: 110px;
        min-width: 110px;
    }
    header section .slider .cards .card h4 {
        font-size: 20px;
    }
}
@media screen and (max-width:600px){
    header section .content {
        left: 53px;
        margin-top: 60%;
    }
    header .logo {
        left: 27%;
    }
    header section .social {
        margin-top: 40px;
    }
    header section .slider .cards .card h4 {
        font-size: 20px;
        left: 65px;
    }
}
@media screen and (max-width:500px){
    header section .content h1 {
        font-size: 37px;
    }
    header section .content p {
        font-size: 11px;
        width: 280px;
    }
    header section .content {
        left: 25px;
        margin-top: 69%;
    }
}
@media screen and (max-width:445px){
    header .logo {
        left: 22%;
    }
    header section .content {
        left: 24px;
        margin-top: 80%;
    }
    header section .content h1 {
        font-size: 30px;
    }
    header section .content p {
        font-size: 10px;
        width: 250px;
    }
}
@media screen and (max-width:395px){
    header .logo {
        width: 221px;
        height: 344px;
    }
    header .logo img {
        width: 283px;
        margin: 23px 0px 0px -34px;
    }
    header section .content {
        left: 52px;
        margin-top: 75%;
    }
    header section .content h1 {
        font-size: 25px;
    }
    header section .content p {
        font-size: 8px;
        width: 200px;
    }
    header section .content .order_price .price h2 {
        font-size: 20px;
    }
    header section .content .order_price a {
        width: 94px;
    }
    header section .slider .cards .card {
        min-height: 100px;
        min-width: 110px;
    }
    header .left-menu {
        width: 4px;
        height: 74%;
    }
    header nav .nav-items ul {
        width: 10px;
    }
    header section .slider .cards {
        height: 140px;
    }
    header section .slider .cards .card {
        min-height: 90px;
        min-width: 105px;
    }
    header section .slider .cards .card h5 {
        font-size: 9px;
    }
}
@media screen and (max-width:375px){
    header .logo h1 {
        font-size: 22px;
    }
    header .logo {
        width: 196px;
        height: 290px;
    }
    header .logo img {
        width: 247px;
        margin: 13px 0px 0px -30px;
    }
    header section .content {
        left: 31px;
        margin-top: 84%;
    }
    header .left-menu {
        width: 1px;
    }
    header nav .nav-items ul {
        width: 2px;
    }
    header section .social {
        margin-top: 3px;
    }
}


